@model YourSquare1.Models.Advertisment

@{
    ViewData["Title"] = "Delete";
    var returnUrl = TempData.Peek("returnUrl").ToString();
}

<h3>Jesteś pewien, że chcesz usunąć to ogłoszenie?</h3>
<div>
    <h4>Szczegóły ogłoszenia</h4>
    <hr />
    
    @Html.Partial("Partials/DetailsPartial", Model)
    
    <div class="form-inline">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />

        <input type="submit" value="Usuń" class="btn btn-danger" />

    </form>
    
        </div>
    <br />
    <a asp-area="" asp-controller="Advertisments" asp-action=@returnUrl><button class="btn btn-default">Powrót</button></a>
</div>
