@model YourSquare1.Models.Advertisment

@{
    ViewData["Title"] = "UserAdvertismentsDetails";
}


@Html.Partial("Partials/DetailsPartial", Model)

<div>
    @if (!Model.Accepted && !Model.DecisionMade)
    {
        <form asp-action="Edit" method="get">
            <button class="btn btn-warning small">Edytuj</button>
            <input type="hidden" name="id" value="@Model.ID" class="tiny" />
            <input type="hidden" name="returnUrl" value="UserAdvertisments" class="tiny" />
        </form>
    }
    <a asp-action="UserAdvertisments"><button class="btn btn-default">Powrót</button></a>
</div>
