@model YourSquare1.Models.Advertisment

@{
    ViewData["Title"] = "UserAdvertismentsDetails";
}


@Html.Partial("Partials/DetailsPartial", Model)

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><input type="submit" value="Edytuj" class="btn btn-warning" /></a>
    <a asp-action="UserAdvertisments"><input type="submit" value="Powrót" class="btn btn-default" /></a>
</div>
