@model YourSquare1.Models.Advertisment

@{
    ViewData["Title"] = "UserAdvertismentsDetails";
}

<h2>UserAdvertismentsDetails</h2>

@Html.Partial("Partials/DetailsPartial", Model)

<div>
    @if (!Model.Accepted && !Model.DecisionMade)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> <text>|</text>
    }
    <a asp-action="UserAdvertisments">Back to List</a>
</div>
